/* importation de la police 'Poppins' de Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html, body{
   font-family: 'Poppins', sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 32px;
   

}
h1{
   text-align: center;
   text-transform: uppercase;
}


nav{
       display: flex;
   flex-direction: row;
   align-items: center;
   gap: 32px;
   padding: 16px 32px;
   justify-content: space-between;
   
   
   
   background: white;
 
}
.hero{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100vw;
   height: 100vh;
   background-image: url("https://images.pexels.com/photos/1070360/pexels-photo-1070360.jpeg?cs=srgb&dl=pexels-nytheone-1070360.jpg&fm=jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.navig{
   text-decoration: none;
   color: black;
}
ul.list {
   list-style-type: none;
   display: flex;
   gap: 16px;
}

#avatar{
   width: 56px;
   height: 56px;
   border-radius: 100%;
   border: 2px solid black;
   
}

.list li a {
   font-weight: 500;
   transition: all .3s ease-in-out;
   text-decoration: none;
   color: black;
}

nav .button-container{
   display: flex;
   text-decoration: none;
   gap: 16px;
   
}
.button{
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
  
   background: blueviolet;
   color: white;
   border: 2px solid blueviolet;
   border-radius: 8px;
   width: fit-content;
   padding: 8px 16px;
   border: 2px solid blueviolet;
   transition: all .3s ease-in-out;
}
.produits{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   gap: 32px;
}
.images{
   width: 240px;
   height: 240px;
   object-fit: cover;
}
.produit-details{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 56px;
}
.prix{
   color: blueviolet;
}